<h1> Orders Show </h1>


<% @order_items.each do |item| %>
	<h3><%= item.product.name %> </h3>
	<h3><%= item.product.price %> </h3>

	<h3><%= item.quantity %> </h3>

	<h3>Subtotal: <%= item.total %> </h3>
<% end %>
