// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cart-container {
	background-color: #EF798A;
}

.cart {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 8px;
  float:left;width:600px;
}

.product-photo-cart {
	float:left;margin:20px;width:215px;
}

.order-total-container {
	background-color: #EF798A;
	margin-bottom: 10px;
	margin-left: 10px;
}