// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cart-container {
	background-color: #EF798A;
}

.order-total-container {
	background-color: #EF798A;
	margin: 1em;
}