// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-image img {
	background-color: #6F8AB7;
    width:100%;
    height: 280px;
}

.id a {
   color: #000;
   text-decoration: none;
   border-bottom-style: none;
}

a:hover, a:visited, a:link, a:active {

	color: #000;
    text-decoration: none!important;

    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.card-body{
	background-color: #6F8AB7;
}

.card h-100{
	background-color: #6F8AB7;
}

.product-image{
	background-color: #6F8AB7;
}